/*
####################################################
VARIABLES
####################################################
*/

// default
$black: black;
$white: white;
$gray: gray;

// color pattern
$patternColor1: #1FB841;
$patternColor2: #2B7ADF;
$patternColor3: #F5F5F5;
$patternColor4: #E0E1E2;
$patternColor5: #F3F5F7;
$patternColor6: #B8B8B8;
$patternColor7: #B81F1F;

// color palette
$primary: '';
$secondary: '';
$third: '';
$fourth: '';
$fifty: '';
$sixty: '';
$seventy: '';
$eighth: '';
$ninth: '';
$tenth: '';
$eleventh: '';
$twelfth: '';
$thirteenth: '';